<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Update</title>
</head>
<body class="mb-2 bg-light text-dark">



    <div class="container p-3 mb-2 bg-danger text-white">
        <h1 class="container text-dark .text-dark d-flex justify-content-center">Actualizar datos</h1> 
    </div>

    <div class="container-md">
        <form action="#" method="post">
            <div class="form-group row">
                <label for="tarot_number" class="col-sm-2 col-form-label">Numero de tarot para actualizar</label>
                <div class="col-sm-10">
                <input type="tarot" class="form-control" id="inputTarot3" name="tarot_number">
                </div>
            </div>
<br>
<br>
<br>
<br>

            <div class="form-group row">
                <label for="img" class="col-sm-2 col-form-label">Imagen (URL)</label>
                <div class="col-sm-10">
                <input class="form-control" type="text" name="img" id="">
                
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                <input type="nombre" class="form-control" id="inputNombre3" name="nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="reference" class="col-sm-2 col-form-label">Referencia</label>
                <div class="col-sm-10">
                <input type="reference" class="form-control" id="inputReferencia3" name="reference">
                </div>
            </div>

            <div class="form-group row">
                <label for="tarot_number" class="col-sm-2 col-form-label">tarot_number</label>
                <div class="col-sm-10">
                <input type="tarot" class="form-control" id="inputTarot3" name="tarot_number2">
                </div>
            </div>

            <div class="form-group row">
                <label for="user_name" class="col-sm-2 col-form-label">User_name</label>
                <div class="col-sm-10">
                <input type="user" class="form-control" id="inputuser3" name="user_name">
                </div>
            </div>
                
            <div class="form-group row">
                <label for="token" class="col-sm-2 col-form-label">Token</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputuser3" name="token">
                </div>
            </div>

            
            <button type="submit" class="btn btn-primary" value="submit">Crear</button>
        </form>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>